@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../font/clear-sans.bold.ttf');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'ClearSans-Bold';
    background-color: #FAF8EF;
}

h1{
    margin: 2%;
    font-size: 3vw;
}

.hidden {
    display: none;
}

#game-message-text{
    color: #f63b47;
    font-weight: bold;
    font-size:  2em;
    text-transform: uppercase;
}

#game-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
    box-sizing: border-box;
    width: 30%;
    margin-top: 2%;
}

#restart{
    background-color: #BBADA0;
    cursor: pointer;
    margin-top: 2%;
}

#restart:hover{
    background-color: #cdc7b4;
}

.cell {
    background-color: #BBADA0;
    box-sizing: border-box;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 5px;
}

.cell:hover{
    background-color: #CDC1B4;
}

.cell-flag{
    background-image: url(../img/red-flag.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell-bug,
.cell-bug:hover{
    background-color: #f63b47;
    background-image: url("../img/mine.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell-num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.cell-empty {
    background-color: #cdc7b4; 
}

.cell-num-1{
    background-color:  #EEE4DA;
}
.cell-num-2{
    background-color:  #EDE0C8;
}
.cell-num-3{
    background-color:  #F2B179;
}
.cell-num-4{
    background-color:  #F59563;
}
.cell-num-5{
    background-color:  #F67C5F;
}
.cell-num-6{
    background-color:  #F65E3B;
}
.cell-num-7{
    background-color:  #f64e3b ;
}

.cell-num-8{
    background-color:  #f63f3b;
}

#flag-number{
    margin-top: 2%;
}